@import "font";
@import "variable";
@import "bootstrap/bootstrap";
@import "fontAwesome/font-awesome";
@import "menu";
@import "./Section/project";
@import "./Section/contact";

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  #root {
    min-height: 100%;
  }
  outline: none !important;
}
h1 {
  margin: 0 -20px 25px;
  background: #2A215E;
  padding: 5px 20px;
  color: #FFF;
  @media (max-width: 600px) {
    font-size: 20px;
  }
}
footer {
  padding-left: 100px;
  div {
    margin: 50px 0 0;
    background: #2A215E;
    padding: 5px 20px;
    color: #FFF;
    p {
      margin: 0;
      padding: 5px 0;
      text-align: center;
      a:hover {
        color:#FFF;
      }
      span {
        font-size: 25px;
        line-height: 5px;
        margin: 0 3px;
        position: relative;
        top: 2px;
        @media (max-width:767px) {
          display: block;
          line-height: 1;
          top: 0;
          margin: 0;
        }
      }
    }
  }
}
a, a:visited {
  color: #9490AE;
  &:hover, &:focus {
    color: #2A215E;
    text-decoration: none;
  }
}
input, button, textarea {
  outline: none !important;
}
img {
  max-width: 100%;
  height: auto;
}
#contentSite {
  padding-left: 120px;
  padding-right: 20px;
}
button {
  outline: none !important;
}
ul {
  padding: 0 0 0 18px;
}
h3 {
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  margin: 5px 0 0;
  padding: 0;
  small {
    float: right;
    font-weight: 300;
  }
}
h2 {
  font-size: 25px;
  margin: 0;
  padding: 0;
}
#about {
  h2 {
    font-size: 20px;
    text-transform: uppercase;
  }
  h3, h4 {
    padding-left: 20px;
  }
  #contentTab {
    .itemTabAboutExperience {
      margin-bottom: 20px;
      ul {
        padding-left: 38px;
      }


      &.last {
        margin-bottom: 0;
      }
    }
    .itemTabAboutSkills {
      ul {
        padding-left: 0;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        li {
          list-style: none;
          position: relative;
          padding-left: 15px;
          font-size: 18px;
          line-height: 2;
          &:before {
            content: '•';
            font-size: 30px;
            position: absolute;
            left: 0;
            top: 50%;
            line-height: 1;
            @include translate(0,-50%);
          }
        }
      }
    }
  }
}